@{
    ViewData["Title"] = "Home Page";
}

<div id="content"></div>

<script src="@Url.Content("~/js/app/Comment.jsx")"></script>
<script src="@Url.Content("~/js/app/CommentList.jsx")"></script>
<script src="@Url.Content("~/js/app/CommentForm.jsx")"></script>
<script src="@Url.Content("~/js/app/CommentBox.jsx")"></script>

